@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:ital,wght@0,200..800;1,200..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #ffffff;
  color: #000000;
}

.inter-font {
  font-family: "Inter", sans-serif;
}

.font-plus-jakarta-sans {
  font-family: "Plus Jakarta Sans", sans-serif;
}

.heroBg {
  background: linear-gradient(
    284.53deg,
    rgba(247, 247, 247, 0) 28.7%,
    rgba(247, 247, 247, 0.28525) 39.9%,
    rgba(247, 247, 247, 0.81881) 79.86%,
    #f7f7f7 86.17%
  );
}

.stat_bg {
  background: linear-gradient(0deg, #d7d9db, #d7d9db),
    linear-gradient(
      284.41deg,
      rgba(247, 247, 247, 0) -22.95%,
      rgba(247, 247, 247, 0.28525) -7.79%,
      rgba(247, 247, 247, 0.81881) 53.78%,
      #f7f7f7 87.43%
    );
}

.footerDropShadow {
  box-shadow: 0px -4px 15.5px 0px rgba(0, 0, 0, 0.07);
}
