@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #000000;
  color: #ffffff;
}

.buttonInnerShadow {
  box-shadow: 0px 0px 8px 0px rgba(255, 255, 255, 0.4) inset;
}

.buttonBgBottom {
  background: linear-gradient(
      140.86deg,
      #ffffff 18.21%,
      rgba(148, 26, 255, 0) 36.7%
    ),
    radial-gradient(
        39.25% 39.25% at 86.56% 95%,
        #ffffff 0%,
        rgba(148, 26, 255, 0) 100%
      )
      /* warning: gradient uses a rotation that is not supported by CSS and may not behave as expected */;
}
.buttonBgTop {
  /* Frame 27 */

  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 14px 20px;
  gap: 8px;

  background: radial-gradient(
      41.9% 50% at 50% 88.54%,
      #d298ff 0%,
      rgba(192, 114, 255, 0.70821) 39.81%,
      rgba(146, 22, 255, 0) 100%
    ),
    #9216ff;
  border-radius: 80px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.violet-glow {
  /* image */

  width: 251px;
  height: 644px;

  background: #9216ff;
  filter: blur(200px);
  border-radius: 125.5px;
  transform: rotate(-21.24deg);
}

.indigoGlow {
  /* image */

  width: 339px;
  height: 892px;

  background: linear-gradient(
    180.15deg,
    rgba(95, 78, 255, 0.18) 0.14%,
    #6e1bff 84.38%
  );
  filter: blur(100px);
  transform: rotate(-90deg);
}
